.cardContainer {
  display: flex;
  padding: 1em;
  align-items: center;
  font-size: 1em;
  text-align: justify;
  background-color: white;
  border-radius: 10px;
  margin: 15px 0 15px 220px;
  width: 70%;
  img {
    height: 150px;
  }
}

.title {
  color: #0f52ba;
}

.description {
  font-size: 1.3em;
}
